.form {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transform: translateY(-50%);
}

.form > input {
  padding: 1rem;
  flex: 1;
  border-radius: 8px;
  color: var(--gray-300);
  background: var(--gray-500);
  border: 2px solid var(--gray-700);
  outline: 0;
}

.form button {
  border: 2px solid var(--gray-700);
  cursor: pointer;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 8px;
  padding: 1rem;
  color: var(--gray-100);
  background: var(--blue);
  font-weight: bold;
}